@import "tailwindcss";

@theme {
  --breakpoint-xs: 475px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
}

@font-face {
  font-family: "Buenos Aires";
  src: url("../../public/fonts/AOKBuenosAiresBold.woff") format('woff');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Buenos Aires";
  src: url("../../public/fonts/AOKBuenosAiresSemiBold.woff") format('woff');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Buenos Aires"; 
  src: url("../../public/fonts/AOKBuenosAiresRegular.woff") format('woff');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Buenos Aires";
  src: url("../../public/fonts/buenos-aires-thin.woff") format('woff');
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Buenos Aires";
  src: url("../../public/fonts/buenos-aires-light.woff") format('woff');
  font-weight: 300;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family:Poppins, sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}
.nunito {
  font-family: "Nunito Sans", sans-serif;
}

.buenos {
  font-family: "Buenos Aires", sans-serif;
}

/* checkout card */

@layer components {
  .input-field {
    @apply w-full px-5.25 pt-4 pb-4.25 text-[15px] border border-[#9D9B9B] rounded-[10px] bg-white text-[#9D9B9B]
           focus:outline-none focus:ring-2 focus:ring-[#9D9B9B]/30 focus:border-[#9D9B9B]
           xl:placeholder:text-[#9D9B9B] placeholder:text-[15px] transition-all duration-150;
  }
  
  .card {
    @apply bg-white rounded-[20px] shadow-[0px_10px_60px_rgba(38,45,118,0.08)] px-[30px] py-[20px] xl:pt-[50px] xl:pb-[53px] xl:pl-[50px] xl:pr-[70px];
  }

  .promo-card {
    @apply relative overflow-hidden rounded-2xl cursor-pointer ;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(8px); }
  to   { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fadeIn 0.4s ease forwards;
}