@import "tailwindcss";

@theme {
  --breakpoint-xs: 475px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
}

@font-face {
  font-family: "Buenos Aires";
  src: url("../../public/fonts/AOKBuenosAiresBold.woff") format('woff');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Buenos Aires";
  src: url("../../public/fonts/AOKBuenosAiresSemiBold.woff") format('woff');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Buenos Aires"; 
  src: url("../../public/fonts/AOKBuenosAiresRegular.woff") format('woff');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Buenos Aires";
  src: url("../../public/fonts/buenos-aires-thin.woff") format('woff');
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Buenos Aires";
  src: url("../../public/fonts/buenos-aires-light.woff") format('woff');
  font-weight: 300;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family:Poppins, sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}
.nunito {
  font-family: "Nunito Sans", sans-serif;
}

.buenos {
  font-family: "Buenos Aires", sans-serif;
}
